{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}" >
    </head>
    <body>
        {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                </tr>
            </thead>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="#">{{ product.name }}</a>
                    </td>

                    <td>
                        <a href="#">{{ product.model }}</a>
                    </td>

                    <td>
                        <a href="/delete/{{ product.id }}" style="color: red;">Delete</a>
                    </td>

                    <td>
                        <a href="/update/{{ product.id }}" style="color: green;">Update</a>
                    </td>

                </tr>                
            </table>
            {% endfor %}
        {% else %}
            <p>Not Found</p>
        {% endif %}
    </body>
</html>